body {
    background-color: var(--main-color);
    font-family: "Poppins";
  }
  
  
  :root {
    --main-color: #071e2e;
    --secondary-color: #e86602;
  }
  
  header {
    font-family: Poopins;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
    padding: 32px 142px;
  }
  .logo-img {
    color: white;
    font-size: 40px;
  }
  .active {
    color: var(--secondary-color);
  }
  header ul {
    font-family: "Poppins";
    color: white;
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
  }

  .content {
   display: flex;
   flex-direction: row;
   padding: 32px 142px;
    border: 2px solid transparent;

  }

  .content-title {
font-size: 64px;
font-weight: 600;
color: white;
font-family: "Poppins";
align-items: center;
  }

  .content-role {
color: var(--secondary-color);
font-size: 24px;
font-weight: 600;
align-items: center;
}

.content-doc {
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-family: "Poppins"; 
    line-height: 28px;


}

.footer-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 2px solid transparent;
    }
    
    
    footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }